
<!-- <router-outlet></router-outlet> -->
<!-- <!doctype html>  -->
 <!-- <html lang="en"> -->
   <!-- <head>  -->
    <!-- Required meta tags -->
     <!-- <meta charset="utf-8">  -->
     <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  -->
    <!-- logo -->
     <!-- <link rel="icon" type="image/png" href="images/fav_icon.png"/>  -->

     <!-- <title>Yaari</title>  -->

    <!-- Material Icons -->
     <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  -->

    <!-- ///// Owl Slider Css ///// -->
     <!-- <link rel="stylesheet" href="assets/css/owl.carousel.min.css"> -->
    <!-- <link rel="stylesheet" href="assets/css/owl.theme.default.min.css"> -->
    
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="assets/css/bootstrap.min.css"> -->

    <!-- Style CSS --> 
    <!-- <link rel="stylesheet" href="assets/css/style.css"> -->

   <!-- </head>  -->
 <!-- <body> -->
    <app-topbar></app-topbar>
    <app-navbar></app-navbar>
 <app-registerform></app-registerform> 
 <app-footer></app-footer> 

<!-- </body>  -->

<!-- </html>  -->


