<!-- <!doctype html> -->
<!-- <html lang="en"> -->
  <!-- <head> -->
    <!-- Required meta tags -->
    <!-- <meta charset="utf-8"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <!-- logo -->
    <!-- <link rel="icon" type="image/png" href="images/fav_icon.png"/> -->

    <!-- <title>Yaari</title> -->

    <!-- Material Icons -->
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->

    <!-- ///// Owl Slider Css ///// -->
    <!-- <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
    
    Bootstrap CSS
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    Style CSS -->
    <!-- <link rel="stylesheet" href="assets/css/style.css"> -->

  <!-- </head> -->
<!-- <body> -->
    <div class="jumbotron jumbotron-fluid breadcrumb_jumbo_custom">
        <div class="container text-center">
          <h1 class="text-dark font-500 mb-0">
            Create Your Account
          </h1>
          <nav aria-label="breadcrumb" class="d-flex justify-content-center">
            <ol class="breadcrumb mb-0 bg-transparent">
              <li class="breadcrumb-item">
                <a href="#" class="text-gray font-400 text-font-18">Home</a>
              </li>
              <li class="breadcrumb-item active text-gray font-400 text-font-18" aria-current="page">
                Create Account
              </li>
            </ol>
          </nav>
        </div>
      </div>



          
<section class="sing_in_sec">
  <div class="container-fluid">
    <div class="row mx-0 px-5">
      <div class="col-lg-6 col-md-10 col-sm-12 mx-auto">
        <form class="custom_form">
          <div class="form-row">
            <div class="form-group col-md-12 mb-4">
              <input type="text" class="form-control" placeholder="First Name">
            </div>
            <div class="form-group col-md-12 mb-4">
              <input type="text" class="form-control" placeholder="Last Name">
            </div>
            <div class="form-group col-md-12 mb-4">
              <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
            </div>
            <div class="form-group col-md-12 mb-4">
              <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
              <span class="material-icons pass_hide_icons">visibility</span>
            </div>
            <div class="form-group col-md-12 mb-4">
              <input type="password" class="form-control" id="inputPassword5" placeholder="Confirm Password">
              <span class="material-icons pass_hide_icons">visibility</span>
            </div>
            <!-- <div class="form-group col-md-12 mb-4 text-center py-1">
              <a href="javaScript:void(0)" class="text-dark font-500 font-18">
                Forgot your password ?
              </a>
            </div> -->
          </div>
          <button type="submit" class="btn btn-theme font-18 w-100 py-4 mt-2">Create account</button>
        </form>
        <div class="d-inline-block w-100 text-center mt-4 mb-2">
          <span class="text-dark font-400 font-18 mr-1">
            Already have account?
          </span>
          <a href="javaScript:void(0)" class="text-dark font-400 font-18" style="text-decoration: underline;">
            Try signing in
          </a>
        </div>
        <div class="d-inline-block w-100 text-center my-3">
          <a href="javaScript:void(0)" class="text-dark font-500 font-18">
            Return to store
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Sign In section End -->

<!-- Social Icons -->

<section class="social_icons_sec mb-5 pb-0">
  <div class="row mx-0">
    <div class="col-lg-12 text-center">
      <ul class="p-0 m-0 d-inline-block" style="list-style-type:none;">
        <li class="float-left px-3">
          <a href="javaScript:void(0)">
            <img src="../../../assets/images/fb_icon.svg" width="26" height="26">
          </a>
        </li>
        <li class="float-left px-3">
          <a href="javaScript:void(0)">
            <img src="../../../assets/images/twitter_icon.svg" width="26" height="26">
          </a>
        </li>
        <li class="float-left px-3">
          <a href="javaScript:void(0)">
            <img src="../../../assets/images/insta_icon.svg" width="26" height="26">
          </a>
        </li>
        <li class="float-left px-3">
          <a href="javaScript:void(0)">
            <img src="../../../assets/images/youtube_icon.svg" width="26" height="26">
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- Social Icons End -->

<!-- Footer -->

<!-- </body> -->

<!-- </html> -->

