<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- logo -->
    <!--<link rel="icon" type="image/png" href="images/fav_icon.png"/>-->

    <title>Yaari Supplier</title>

  </head>
<body>

<!-- Sign IN -->

<!-- Image and text -->
<nav class="navbar navbar-light bg-light custom_navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="sign_in.html">
     <img src="../../../assets/images/logo1.png" width="30" height="30" class="d-inline-block img-fluid align-top" alt="">
    </a>
  </div>
</nav>

<section class="sing_in_sec">
  <div class="container-fluid pl-0">
    <div class="row mx-0">
      <div class="col-lg-6 pl-0">
        <div class="login_img_sec sing_up_img_sec">++
          <img src="../../../assets/images/login_supp_img.png" class="img-fluid" /> 
          <div class="main_title_dv d-inline-block p-5 w-100">
            <h1 class="font-700 text-light title_main position-relative d-inline-block">
              Let's Get Started
            </h1>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mx-auto">
        <div class="sing_in_sec_form">
          <div class="main_title_dv d-inline-block py-5 w-100">
            <h1 class="font-600 mb-4 text-dark title_main position-relative d-inline-block">
              Register
            </h1>
          </div>
          <form [formGroup]="SignUp" (ngSubmit)="sendPostRequest(SignUp.value)">
            <div class="form-group mb-5">
              <label class="font-500 text-dark font-18">First Name</label>
              <input type="text" class="form-control p-3" placeholder="Enter Your First Name" formControlName="firstName">
              <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
            <div class="form-group mb-5">
              <label class="font-500 text-dark font-18">Last Name</label>
              <input type="text" class="form-control p-3" placeholder="Enter Your Last Name" formControlName="lastName">
              <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
            <div class="form-group mb-5">
              <label class="font-500 text-dark font-18">Email</label>
              <input type="text" class="form-control p-3" placeholder="Enter Your Email id" formControlName="email">
              <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
            <div class="form-group mb-5">
              <label class="font-500 text-dark font-18">Password</label>
              <input type="password" class="form-control p-3" placeholder="Enter Your password" formControlName="password">
              <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
            <div class="form-group mb-5">
              <label class="font-500 text-dark font-18">Mobile Number</label>
              <input type="text" class="form-control p-3" placeholder="Enter Your Mobile Number" formControlName="mobile">
              <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
            <div class="d-inline-block text-center w-100 py-3">
              <button type="submit"  class="btn btn-theme px-5 w-50 py-3 font-18">
                
                
                <a >Sign Up</a>
                
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Sign IN End -->


</body>


</html>

